html, body
{

	overflow-x : hidden;

}
.row
{
	max-width: 78rem;
}


/*menu styles*/

.top-bar
{
	background: url(../img/menu.background.png);
	height: 98px;
	font-family: 'Oswald', sans-serif;
}

.top-bar-section ul li
{
	background: none;
	height: 98px;
}

.top-bar-section ul li a
{
	font-family: 'Oswald', sans-serif;	
	font-size: 1.3em;
	height: 98px;
}

.top-bar-section li:not(.has-form) a:not(.button)
{
	background: none;	
	padding-top: 2.8em;
}

.top-bar-section li:not(.has-form) a:not(.button):hover
{
	background: #E74C3C;	
	color: black;
	
}

.top-bar-section ul.left
{
	margin-left: 2em;
}

.top-bar-section ul.right
{
	font-size: .7em;
}

.top-bar-section ul.right li:not(.has-form) a:not(.button)
{
	padding-top: 4.1em;
}

.fullWidth 
{
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.menu-background
{
	padding: 0px;
	background: url(../img/menu.photo.png);
	min-height: 700px;
}

.up-finder
{
	border: solid 0px red;
	height: 150px;
}

.finder
{
	background: rgba(0,0,0,.7);
	height: 200px;	

	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;	
}

.form-finder
{
	margin-top:50px !important;
}

.finder .up
{
	height: 40px;
}

.finder .bottom
{
	height: 80px;
}

.fix-up
{
	margin-top: 35px;
}

.fix-up15
{
	margin-top: 15px !important;
}

.finder input[type=search]
{
	font-family: 'Oswald', sans-serif;	
	font-size: 1.5em;	
	padding: 1.1em;

	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;		
}

.finder select
{
	
	font-size: 1.4em;	
	font-family: 'Oswald', sans-serif;	
	height: 2.5em;

	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;		
}


.second
{
	margin-top: 30px;
}

.second h2
{

	font-size: 1.8em;	
	font-family: 'Oswald', sans-serif;		
}

.second .pleca
{
	padding-top: 5px;
}

.destacado .imagen-destacada
{
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #E74C3C;
}

.destacado h4
{
	font-size: 1.4em;	
	font-family: 'Oswald', sans-serif;			
	text-transform: uppercase;
}

.destacado .price
{
	font-size: 1.2em;	
	font-family: 'Oswald', sans-serif;				
	font-weight: bold;
	padding-top: 8px;
}

.destacado .brief
{
	font-size: .8em;	
	font-family: Arial;
}

.destacado .brief2
{
	padding-top: 10px; 
	font-size: .8em;	
	font-family: Arial;
	color: #666666;
	font-weight: bold;
	font-style: italic;
}

.nivel2
{
	margin-bottom: 15px !important;
}

.nivel2 .imagen-destacado
{
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #2980b9;	
}

.nivel2 .price-second
{
	font-size: .85em;	
	font-family: 'Oswald', sans-serif;				
	font-weight: bold;	
	color: #666666;
}

.price-propertype-big, .price-operation-big
{
	font-size: .85em;	
	font-family: 'Oswald', sans-serif;				
	font-weight: bold;	
	color: #666666;
}

.nivel2 .price-propertype, .nivel2 .price-operation
{
	font-size: .65em;	
	font-family: 'Oswald', sans-serif;				
	font-weight: bold;	
	color: #666666;
}


.nivel2 h5
{
	font-size: 1em;	
	font-family: 'Oswald', sans-serif;			
	text-transform: uppercase;
}

.nivel2 .brief-second
{
	font-size: .8em;	
	font-family: Arial;	
	padding-top: 10px;	
}

.servicio h3
{
	font-size: 1.5em;	
	font-family: 'Oswald', sans-serif;			
	text-transform: uppercase;	
}

.servicio .brief-servicio
{
	font-size: .8em;	
	font-family: Arial;	
	padding-top: 5px;
}

footer
{
	background: url(../img/menu.background.png);
	height: 98px;
	font-family: 'Oswald', sans-serif;
	color: white;
	margin-top: 25px !important;	
}

#message
{
	font-family: 'Oswald', sans-serif;
	color: white;
	margin-top: 3em;
	margin-left: 1.7em;	
}

footer .columns
{
	padding-top: 45px;
	text-align: center;
}

.advice
{
	background: #F0F0F0;
	border: 1px solid #CCC;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;		
    
  -webkit-box-shadow: 2px 2px 5px #ccc;
  -moz-box-shadow: 2px 2px 5px #ccc;
  filter: shadow(color=#ccc, direction=135, strength=2);

  text-align: left;
}

.advice h4
{
	font-family: 'Oswald', sans-serif;
	text-align: center;
}

.advice ul li a
{
	font-weight: bold;
}

.advice ul li
{
	font-family: Arial;
	font-size: .85em;
	list-style-type: none;	
	color: #666;
}

.zonas img, .results-item img
{
	border: solid 5px #2980b9;
}

.zonas h5
{
	font-family: 'Oswald', sans-serif;
	font-size: 1.2em;
}


/*results*/
.results-item h5, .results-item h6
{
	font-family: 'Oswald', sans-serif;
	font-size: 1.3em;	
	text-transform: capitalize;
}
.results-item h6
{
	font-size: 1.2em;		
	color: #2980b9;
}

.results-item
{
	font-size: .75em;
	line-height: 1.5em;
	text-align: left;
	margin-top: 1.5em;
	padding-bottom: 1.5em !important;	
}

.results-item .details
{
	font-family: 'Oswald', sans-serif;
	font-size: 1em;		
	color: #E74C3C;
}

.results-item img
{
	border: solid 3px #5090B9;
	/*border: solid 3px #2980b9;*/
}

.results-item:hover
{
	border: solid 0px #CCC;
	background-color: #F0F0F0;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;

	-webkit-box-shadow: 2px 2px 5px #ccc;
	-moz-box-shadow: 2px 2px 5px #ccc;
	filter: shadow(color=#ccc, direction=135, strength=2);	
}

.finder-results
{
	background: black;
	height: 120px;	
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;	
}


.finder-results #term
{
	font-family: 'Oswald', sans-serif;	
	font-size: 1.2em;	
	padding: 1em;

	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;		
}

.finder-results select
{
	font-size: .85em;	
	font-family: 'Oswald', sans-serif;	
	height: 2.8em;

	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;	
}
.results-filters select
{
	font-size: .80em;	
	font-family: 'Oswald', sans-serif;	
	height: 3em;

	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;	
}

.results-filters label
{
	font-size: .85em;		
	font-family: 'Oswald', sans-serif;		
}

.pagination-top
{
	position: relative;
	top: 30px;
	right: -5px;
}

.order-top
{
	position: relative;
	top: 30px;
}

.filters, .filters label
{
	color: white;
}

.results-filters
{
	background: #F0F0F0;
	padding: 1em;	
}

.range-slider
{
	margin-top: .80em
}

.fix-paddingup1em
{
	padding-top: 1em;
}

.filter-selector li.current a
{
	background-color: #E74C3C !important;
	color: black !important;
}

.inline
{
	display: inline !important;
}

.right-custom
{
	float: right !important;
}
/*end results*/


.finder-button
{
	cursor: pointer;
	cursor: hand;
}